#map {
    background: url('https://t4.ftcdn.net/jpg/10/00/24/23/360_F_1000242371_YWy3r9wyucoYoeMfmkp7jre5xVKVP77D.jpg') no-repeat center;
    background-size: cover;
  }
  
  .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  