<main class="container my-4">
    <div class="row">
        <!-- Filters -->
        <div class="col-md-2">
            <!-- Add filter options here -->
        </div>
        <div class="col-md-9 ">
            <!-- Products -->
            <h3 class="mb-4 border-bottom pb-1">
                Products
            </h3>
            <div class="row">
                @for(crop of products ; track crop.productId){
                    
                    <a [routerLink]="['/crops', crop.productId]">
                        <app-crop-card [product]="crop"></app-crop-card>
                     </a>
                      
                }
            </div>
                
        </div>
    </div>
</main>