<div class="col-md-10 mb-4">
  <div class="card shadow">
    <a [href]="product.id">
      <img
        [src]="product.image"
        class="card-img-top"
      />
    </a>
    <div class="card-body">
      <h5 class="card-text">
        <a [href]="product.id">
          {{ product?.productName }}
        </a>
      </h5>
      <h6>
        $ <span class="product-price-{{ product.id }}">
          {{ product?.
            productPrice
             }}
        </span>
      </h6>
    </div>
    <div class="card-footer">
      <input
        type="hidden"
        value="1"
        class="form-control product-qty-{{ product.id }}"
        id="productQty"
      />
      <input
        type="hidden"
        class="product-image-{{ product.id }}"
        [value]="product?.image"
      />
      <input
        type="hidden"
        class="product-id-{{ product.id }}"
        [value]="product.id"
      />
      <input
        type="hidden"
        class="product-title-{{ product.id }}"
        [value]="product?.name"
      />
      <button
        class="btn btn-sm btn-primary add-to-cart"
      >
      <fa-icon [icon]="fashop"></fa-icon>
      </button>
      <button class="btn btn-sm btn-danger m-1">
        <fa-icon [icon]="faheart"></fa-icon>
      </button>
      <span class="float-right">
        4.5/5
        <fa-icon [icon]="fastar" class="text-yellow-300"></fa-icon>
      </span>
    </div>
  </div>
</div>
