<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="./assets/FarmerBazzar.jpg" alt="Logo" width="40" class="me-2" />
        <span class="fw-bold">Farmer Bazaar</span>
      </a>
      <!-- Search Bar -->
      <form class="d-flex ms-auto me-4">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search product..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
  
      <!-- Buy and Sell Buttons -->
      <div class="d-flex">
        <button class="btn btn-success me-2">BUY</button>
        <button class="btn btn-success">SELL</button>
      </div>
    </div>
  
    <!-- Categories
    <div class="navbar navbar-expand-lg navbar-light bg-light mt-2">
      <div class="container">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">CROPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">VEGETABLE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">FRUITS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">NURSERY & PLANTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">ORGANIC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">SPICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">DRY FRUITS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">SEEDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">ANIMALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">ALL</a>
          </li>
        </ul>
      </div>
    </div> -->
  </nav>
  