/* .navbar {
    background-image: linear-gradient(to right, #dc3545, #ff6f61);
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(220, 53, 69, 0.6);
  }
   */