<div class="fixed left-0 top-0 w-67 h-full bg-gray-900 px-2 z-50 sidebar-menu transition-transform">
  <a class="navbar-brand fw-bold text-white p-2" [routerLink]="['/']">Home</a>
  <ul class="mt-2 text-white">
  
    <li [class.active]="activeSection === 'dashboard'" (click)="handleSectionChange('dashboard')">
      <i class="bi bi-grid icon"></i>
      <span>Dashboard</span>
    </li>

    <p class="p2">Services</p>
    <hr class="divider" />

    <li [class.active]="activeSection === 'climate'" (click)="handleSectionChange('climate')">
      <i class="bi bi-cloud icon"></i>
      <span>Climate</span>
    </li>

    <li [class.active]="activeSection === 'croprecommendations'" (click)="handleSectionChange('croprecommendations')">
      <i class="bi bi-tree icon"></i>
      <span>Crop Recommendations</span>
    </li>

    <li [class.active]="activeSection === 'fertilizer'" (click)="handleSectionChange('fertilizer')">
      <i class="bi bi-tree icon"></i>
      <span>Fertilizer Recommendations</span>
    </li>

    <li [class.active]="activeSection === 'market'" (click)="handleSectionChange('market')">
      <i class="bi bi-shop icon"></i>
      <span>Market</span>
    </li>

    <li [class.active]="activeSection === 'news'" (click)="handleSectionChange('news')">
      <i class="bi bi-newspaper icon"></i>
      <span>News</span>
    </li>

    <li [class.active]="activeSection === 'AddEquipment'" (click)="handleSectionChange('AddEquipment')">
      <i class="bi bi-tools icon"></i>
      <span>Add Equipment</span>
    </li>

    <hr class="divider" />
    
    <li (click)="logout()">
      <i class="bi bi-box-arrow-right icon"></i>
      <span>Logout</span>
    </li>
  </ul>
</div>
